# Django
DJANGO_SECRET_KEY=change-me-in-local
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

# Postgres (Docker)
POSTGRES_DB=aiutami
POSTGRES_USER=aiutami
POSTGRES_PASSWORD=aiutami
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Redis (Docker)
REDIS_URL=redis://redis:6379/0
AZURE_OPENAI_ENDPOINT=https://tatim-minsjiyz-eastus2.cognitiveservices.azure.com
AZURE_OPENAI_API_KEY=4zF1voOBB0nDycebpAXMFxpkGmiuUJdOs0a3H6XsDTI3ZhObjrF6JQQJ99BLACHYHv6XJ3w3AAAAACOG0w1J
AZURE_OPENAI_MODEL=gpt-4o-mini
AZURE_OPENAI_API_VERSION=2025-01-01-preview
AZURE_SPEECH_KEY=GAFwD1hDA5e6slbN2EpFMoTJnley5gVEr00vaEI3kmLC2BZuQCNbJQQJ99BLAC5RqLJXJ3w3AAAYACOGjrG4
AZURE_SPEECH_REGION=westeurope
AZURE_SPEECH_LANGUAGE=it-IT