.input-wrap {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 100%;
}

.input-label {
  color: var(--text-medium);
  font-size: 0.9rem;
  font-weight: 500;
}

.input-ui {
  padding: 0.7rem 1rem;
  border: 1px solid var(--border-light);
  border-radius: var(--radius-md);
  font-size: 1rem;
  background: white;
  transition: 0.2s ease;
}

.input-ui:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 2px rgba(84, 113, 140, 0.2);
}
